
    .signUpContent{
        width: 100%;
        height: 100vh;
         background-color: #F37357;
        background-image: url('../Images/bg.png');
        background-size: cover;
        background-position: center;
        padding-top: 3%;
        /* padding-bottom: 3%; */
    }
    
    .signUpForm{
       display: flex;
       align-items: center;
       justify-content:space-evenly;
       flex-direction: column;
    }
    .formDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 540px;
        /* padding-bottom: -180px; */
    height: 530px;
    flex-shrink: 0;
    margin-top: 4px;
    background: #fff;
    box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
    }
    .form2{
        margin-top: -4%;
    }
    .form{
        width: 450px;
    height: 500px;
/* margin-top: -10%; */
    /* flex-shrink: 0; */
    /* background-color: #D4D7DD; */
    border: 1px solid #D4D7DD;
    box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
    
    }
    .signIn{
        width: 223px;
    height: 50px;
    flex-shrink: 0;
    border: 1px solid #D4D7DD;
    background: #FAFAFA;
    color: #192E46;
    text-align:center;
    /* font-family: Poppins; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    }
    .signUps{
        width: 223px;
        height: 50px;  
        color: #192E46;
        margin-left: 28%;
        margin-top: -50%;
    text-align: center;
    /* font-family: Poppins; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    border: none;
    background: none;
    }
    .SIG{
        margin-left: 32%;
        margin-top: -8%;
    }
    .feild{
        margin: 30px;
        /* border: 2px solid black; */
    }
    .name{
        width: 180.5px;
        /* padding-top: 10px; */
        /* margin-top: -10%; */
        margin: 4px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E0E4E9;
    background: #FFF;
    padding-left: 10px;
    color: #9AA6B4;
    text-align:start;
    /* font-family: Poppins; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
    }
    .email{
        width: 367px;
        /* margin: 4px; */
/* padding-top: 10px; */
        margin-top: -5%;
        padding-left: 10px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FB775A;
    background: #FFF;
    text-align:start;
    /* font-family: Poppins; */
    font-size: 14px;
    }
    .S-BTN{ 
        margin-top: 6%;

     }
    .EEmail{
        margin-top: -3%;
    }
    .AAdress{
        margin-top: -2%;

    }
    .conFirm{
        margin-top: -2%;

    }
    .address{
        width: 367px;
        margin: 4px;
        margin-top: 20px;
        padding-left: 10px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E0E4E9;
    background: #FFF;
    text-align:start;
    /* font-family: Poppins; */
    font-size: 14px;
    }
    .signLogo{
        width: 210px;
        margin-top: -12px;
    }
    .password{
        width: 367px;
        margin: 4px;
        margin-top: 20px;
        padding-left: 10px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E0E4E9;
    background: #FFF;
    text-align:start;
    /* font-family: Poppins; */
    font-size: 14px;
    }
    .MModal{
        text-align: center;
        /* margin-left: 3%; */
    }
    .signbutton{
        width: 367px;
        margin: 4px;
        margin-top: 10%;
    height: 46px;
    /* flex-shrink: 0; */
    border-radius: 4px;
    /* background: #FB775A; */
    border: none;
    /* color: #FFF; */
    /* font-family: Poppins; */
    font-size: 14px;
    }
    .terms{
        color: #192E46;
    /* font-family: Poppins; */
    font-size: 14px;
    margin: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.5%; /* 22.05px */
    letter-spacing: 0.14px;
    }
    .terms span{
        color: #FB775A;
    /* font-family: Poppins; */
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    line-height: 157.5%;
    letter-spacing: 0.14px;
    }
    .connect{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
        color: #9AA6B4;
    /* font-family: Poppins; */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 361.5%; /* 50.61px */
    letter-spacing: 0.28px;
    }
    .line{
        width: 100px;
    height: 1px;
    flex-shrink: 0;
    margin: 10px;
    margin-top: 15px;
    border-radius: 4px;
    background: #E0E4E9;
    }
    .fb-tweet{
        /* margin: 4px; */
        margin-left: 20px;
        margin-top: -10px;
    }
    .facebook{
        width: 160px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3B5998;
    border: none;
    color: #FFF;
    /* margin-top: -19%; */
    /* font-family: Poppins; */
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12px;
    }
    .twiter{
        width: 160px;
        height: 40px;
        flex-shrink: 0;
        margin-left: 20px;
        border-radius: 4px;
    background: #00ACEE;
    border: none;
    color: #FFF;
    /* font-family: Poppins; */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12px;
    }
    .modal-p{
        color:#000 ;
    }
    
    
    @media (max-width: 768px) {
        .signUpContent {
            padding-top: 5%;
            padding-bottom: 3%;
        }
    
        
        .form {
            width: 90%; 
            height: 630px; 
        }
    .signLogo{
        width: 60%;
        /* margin-top: 37px; */
    }
    .S-BTN{
        /* width: 70%; */
        margin-top: 20px;
        margin-left: -10%;
    }
  
   
    .formDiv{
width: 90%;
height: 650px;
/* margin-top: 70px; */
    }
.fb-tweet{
    margin-top: 11px;
}        
      
        .name,
        .email,
        .address,
        .password,
        
        .terms {
            width: 100%; 
        }
        .connect{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            color: #9AA6B4;
        /* font-family: Poppins; */
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 361.5%; /* 50.61px */
        letter-spacing: 0.28px;
        }
        
        .line{
            width: 50px;
        height: 1px;
        flex-shrink: 0;
        margin: 10px;
        border-radius: 4px;
        background: #E0E4E9;
        }
        .signIn{
            width: 55%;
        }
        .signUps{
            margin-left: 17%;
            margin-top: -10px;
        }
    .connect{
        margin-top:13px;
        text-align:center;
        line-height:normal;}
    .SIG{
        margin-top: -37px;
    }
    .feild{
        margin-top: 18px;
    }
    .facebook{
        width: 100%; 
          
    }
    .terms span{
        margin-left: 20px;
    }
        .twitter {
            width: 100%; 
            margin-top: 6%;
            /* margin-left: 0; */
            /* margin-bottom: 10px;  */
        }
    }
