*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
 
    background-color: #F37357; 
  background-image: url('../Images/bg-white.png'); 
  background-size: cover;
  background-position: center;
}
.content{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dot{
    width: 100px;
    height: 400px;
    margin-bottom: 8%;
    }
.dots{
    width: 235px;

    height: 414px;
    margin-top: 35%;
}
.takeMeal{
    width: 500px;
    height: 477px;
    margin-left: 90px;
    margin-bottom: 10%
}
.mealText{
    color: #192E46;
text-shadow: 0px 10px 23px rgba(0, 0, 0, 0.15);
margin-top: 15%;
margin-left: 10px;
font-size: 54px;
font-style: normal;
font-weight: 900;
text-align: start;
line-height: 78px;
padding-bottom: 30px;
}
.mealText span{
    color: #192E46;
/* font-family: Poppins; */
font-size: 54px;
font-style: normal;
/* margin-left: 20px; */

font-weight: 800;
line-height: 78px;
text-decoration-line: underline;
}
.mealPara{
    color: #4C6889;
/* font-family: Poppins; */
font-size: 24px;
font-style: normal;
font-weight: 400;
margin-left: 10px;
line-height: 29px;
text-align: start;
padding-bottom: 50px;
}
.mealPara span{
    color: #F37357;
/* font-family: Poppins; */
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 29px;
cursor: pointer;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}
.started{
    margin-left: 0px;
    /* margin-left: 10px; */
     width: 210px;
     margin-left: 10px;
 height: 62px;
 flex-shrink: 0;
 border-radius: 4px;
 background: #F37357;
 color: white;
 border: none;
}

 .more{
    width: 210px;
 height: 62px;
    border-radius: 4px;
    border: 1px solid #192E46;
    background-color: white;
    color: #192E46;
text-align: center;
/* font-family: Poppins; */
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 157.5%; /* 28.35px */
letter-spacing: 0.18px;
margin-left: 30px;
}
.overView{
    width: 800px;
    /* height: auto; */
    margin-top: 30px;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.pinkDots{
    width: 30px;
    height: 200px;
    margin-left: -13%;
    /* border: 2px solid #4C6889; */
}
.homepage{
    width: 100%;
    /* height: 90%; */
    /* margin-left: 7%; */
    margin-top: -9%;
    /* height: 880%; */
}
/* slidder */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #F37357;
    /* right: 5%; */
    /* top: 50%; */
    left: 99%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.fp-warning, .fp-watermark{
    display: none;
}

@media (max-width: 768px) {
    .main{
      width: 100%;
      /* height: auto; */
    }
    
    .content{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px;
        /* border: 2px solid purple; */
    }
.dot{
       display: none;
    }
    .takeMeal {
        width: 100%; 
        height: auto; 
        margin-bottom: 1%;
    }

    .mealText {
        font-size: 40px; 
        line-height: 44px;  
        margin-left: -23%;
        font-weight: 900; 
        margin-top: 212px;
        /* text-align: center; */
    }

    .mealText span {
        margin-left: 1%; 

        font-size: 39px; 
        line-height: 55px; 
    }

    .mealPara {
        font-size: 20px; 
        line-height: 25px; 
        margin-left: -32%;
/* font-weight: 600; */
        text-align: center;
    }

    .mealPara span {
        font-size: 22px; 
        margin-left: -17px;
        line-height: 27px;
    }
    .pinkDots{
        display: none;
        /* margin-bottom: 30%; */
        /* margin-left: -16%; */
    }

    .button {
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start;
    margin-left: -36%;
    }

    .started
     {
        width: 96%;
        margin-top: -6%;
        font-size: 20px; 
        /* margin-right: 20px; */
        /* margin: 10px 0;  */
    }
    .more{
        width: 96%;
        font-size: 20px; 
margin-left: 3%;
        margin-top: 2%; 
    }
    .overView{
        width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 30% */
    }
   

           .homepage{
            /* margin-top: -16%;
            width: 426px; */
            height: auto;
            margin-left: -63px;
            margin-top: -12%;
            width: 130%;
           }
}