.list2{
    margin-top: 25px;
    margin-bottom: 16px;
    color: #192E46;
}
.list2 h4{
    color: #FB775A;
}
.ib{
    margin-top: 5px;
}
.ib input{
    text-align: center;
    color: #626972;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;

    
}
.text-danger{
    background-color: #FEAAAA;
    margin: 35px;
    margin-top: 23px;
    text-align: center;
    font-weight: 650;
    color: #FB5A5A;
    width: 85%;
height: 34.5px;

padding: 5px;
text-align: left;

}


.part2{
    height: auto;
   
}
.verifyh5{

    margin-top: 45px;
    margin-bottom: 15px;
    
font-size: 16px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0.01em;
text-align: center;

}
.verifyh5 span{
    color: #FB775A;
}
@media (max-width:768px) {
    .text-danger{
        background-color: #FEAAAA;
        margin: 24px;
        text-align: center;
        font-weight: 650;
        color: #FB5A5A;
        width: 85%;
    height: auto;
    
    padding: 5px;
    text-align: left;
   
    }
}