$primary-color: #F37357;
$secondary-color: #FB775A;
$text-color: #192E46;
$gray-color: #4C6889;
$bg-image: url('../Image/bg-white.png');

.nav-btn {
  margin-left: -20%;
}
.next-level {
  text-decoration: underline;
  color: $text-color;
  font-size: 43px;
  font-weight: 1000;

}
.cottage-color{
  color: $primary-color;
}

.mein {
  background-image: $bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin-bottom: -2%;
  // height: auto;
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

.menuItemImg {
  width: 700px;
  height: 639px;
}

.texts {
  width: 400px;
  height: 400px;
}

.buttonstyle {
  width: 80px;
  margin-top: 9%;
  margin-left: 3%;
}

.dotts {
  width: 280px;
  height: 463px;
  margin-top: -1%;
  margin-left: -4%;
    // margin-right: 13px;
  background-image: url(../Image/dotimg.png);
}



.section:nth-child(even) .mein {
  flex-direction: row-reverse;
}

.h2 {
  color: $text-color;
  font-size: 43px;
  margin-left: 10%;
  font-weight: 1000;
}

.menuPara {
  color: #4c6889;
  font-weight: 400;
  line-height: 20px;
  
 font-size: 20px;
  margin-left: 10%;
 
}
.btn-comp {
  margin-top: -56%;
  margin-left: 30%;
}

@media (max-width: 768px) {
  .mainn {
    background-image: $bg-image;
    background-size: cover;
    background-position: center;
  }

  .mein {
    width: 100%;
    height: auto;
    // margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.dotts {
    display: none;
  }

  .menuItemImg {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: -10px;

  
  }
.menuPara {

    font-size: 20px;
   margin: 20px;
    margin-top: 20px;
    margin-left: -1%;
  text-align: center;
  }

.h2{
     margin-top: 17%;
    text-align: center;
    margin-left: -4%;
  }

.btn-comp{
margin-top: -170%;
margin-left: 80%;
padding: 19px;
}
  .buttonstyle-2{
margin-left: 38%;
padding: 19px;
margin-top: 47px;
  }
}
 