$trackImgUrl: url('../Image/trackimg.png');
$trackMediaUrl: url('../Image/trackMedia1.png');
$primaryColor: #192E46;
$secondaryColor: #4C6889;
$accentColor: #FB775A;
$buttonColor: #F37357;

@mixin centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trackbg {
    width: 100%;
}

.mainDiv {
    width: 98%;
    height: auto;
    @include centerContent;
    flex-direction: column;

    .trackHead {
        width: 50%;
        margin-top: 40px;

        h1 {
            color: $primaryColor;
            text-align: center;
            text-shadow: 0px 10px 23px rgba(0, 0, 0, 0.15);
            font-size: 49px;
            margin-bottom: 10px;
            font-style: normal;
            font-weight: 800;
            line-height: 58px;
        }

        p {
            color: $secondaryColor;
            text-align: center;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
        }

        span {
            color: $accentColor;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 29px;
        }
    }

    .trackImg {
        width: 1000px;
        height: 528px;
        flex-shrink: 0;
        background-image: $trackImgUrl;
        margin-left: 30px;
    }

    .trackimg {
        display: none;
        width: 900px;
        height: 300px;
        flex-shrink: 0;
        background-image: $trackMediaUrl;
        background-size: cover;
        margin-left: 2px;
    }

    .trackBtn {
        width: 255px;
        height: 62px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $buttonColor;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 157.5%;
        margin: 20px;
        letter-spacing: 0.18px;
    }

    @media (max-width: 768px) {
        width: 100%;

        .trackHead {
            width: 80%;

            h1 {
                margin-top: -2%;
                font-size: 31px;
            }
        }

        .trackImg {
            display: none;
            width: 100%;
            height: 400px;
            flex-shrink: 0;
            background-image: $trackMediaUrl;
            margin-top: 20%;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .trackimg {
            width: 100%;
            display: block;
        }

        .trackBtn {
            width: 90%;
        }

        .performance {
            color: $primaryColor;
            margin-top: -10%;
        }

        .trackHead p {
            font-size: 18px;
            text-align: center;
        }

        .trackHead span {
            font-size: 18px;
            line-height: 24px;
        }
    }
}
