/* 
.trackbg{
    width: 100%;
   
}
.mainDiv{
    width: 98%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.trackHead{
    width: 50%;
    margin-top: 40px;
   
   
}
.trackImg{
    width: 1000px;
    height: 528px;
    flex-shrink: 0;
    background-image: url('../Images/trackimg.png');
   
    margin-left: 30px;
}
.trackimg{
    
    display: none;
    width: 900px;
    height: 300px;
    flex-shrink: 0;
    background-image: url('../Images/trackMedia1.png');
    background-size: cover;
  
    margin-left: 2px;
}
.trackHead h1{
    color: #192E46;
text-align: center;
text-shadow: 0px 10px 23px rgba(0, 0, 0, 0.15);

font-size: 49px;
margin-bottom: 10px;
font-style: normal;
font-weight: 800;
line-height: 58px;
}
.trackHead p{
    color: #4C6889;
text-align: center;

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 29px; 
}
.trackHead span{
    color: #FB775A;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 29px;
}
.trackBtn{
    width: 255px;
height: 62px;
flex-shrink: 0;
border-radius: 4px;
background: #F37357;
border: none;
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 157.5%; 
margin: 20px;
letter-spacing: 0.18px;
}

@media (max-width: 768px) {
    .mainDiv {
        width: 100%;
    }
    
    .trackHead {
        width: 80%;
    }    

    .trackImg{
        display: none;
        width: 100%;
        height: 400px;
        flex-shrink: 0;
        background-image: url('../Images/trackMedia1.png');
       margin-top: 20%;
        margin-bottom: 2px;
        margin-left: 2px;

    }
    .trackimg{
        width: 100%;
        display: block;
    }
    .trackBtn{

        width: 90%;
    }
    .trackHead h1 {
        margin-top: -2%;
        font-size: 31px;
      }
      .performance{
        color: #192E46;
        margin-top: -10%;
      }
    
    .trackHead p {
        font-size: 18px;
        text-align: center;
       
    }
    
    .trackHead span {
        font-size: 18px;
        line-height: 24px;
    }
} */