
 .signUpContentt{
    width: 100%;
    height: 100vh;
   background-color: #F37357;
    background-image: url('../Images/bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 5%;
    padding-bottom: 7%;
}

.signUpFormm{
   display: flex;
   align-items: center;
   justify-content:space-evenly;
   flex-direction: column;
}
.form-Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
height: 500px;
margin-top: 13px;
/* flex-shrink: 0; */
background: #fff;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);
}
.formm{
    width: 440px;
height: 440px;
flex-shrink: 0;
border: 1px solid #D4D7DD;
box-shadow: 0px 19.75px 70px 0px rgba(0, 0, 0, 0.09);

}
.signInn{
    width: 223px;
height: 50px;
 flex-shrink: 0;
color: #192E46;
text-align:center;
font-family: Poppins;
font-size: 18px;
/* margin-left: 50%; */
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.36px;
border: none;
background: none;
}
.SIGNUP{
    margin-top: -8.33%;
}
.signUpss{
    width: 223px;
    height: 50px;  
    color: #192E46;
    border: 1px solid #D4D7DD;
background: #FAFAFA;
margin-left: 49.20%;

margin-top: -50%;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.36px;

}
.feildd{
    margin: 30px;
    /* margin-top: 16px; */
   
}
.name{
    width: 180.5px;
    margin: 4px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
padding-left: 10px;
color: #9AA6B4;
text-align:start;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}
.email{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
    padding-left: 10px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #FB775A;
background: #FFF;
text-align:start;
font-family: Poppins;
font-size: 14px;
}
.addresss{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
    padding-left: 10px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
text-align:start;
font-family: Poppins;
font-size: 14px;
}
.signLogoo{
    width: 220px;
    margin-top: -3%;
}
.passwordd{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
    padding-left: 10px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E0E4E9;
background: #FFF;
text-align:start;
font-family: Poppins;
font-size: 14px;
}
.sign-button{
    width: 367px;
    margin: 4px;
    margin-top: 20px;
height: 46px;
flex-shrink: 0;
border-radius: 4px;
background: #FB775A;
border: none;
color: #FFF;
font-family: Poppins;
font-size: 14px;
}
.terms{
    color: #192E46;
font-family: Poppins;
font-size: 14px;
margin: 4px;
font-style: normal;
font-weight: 400;
line-height: 157.5%;
letter-spacing: 0.14px;
}
.terms span{
    color: #FB775A;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 157.5%;
letter-spacing: 0.14px;
}
.connected{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    color: #9AA6B4;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 361.5%;
letter-spacing: 0.28px;
}
.linee{
    width: 100px;
height: 1px;
flex-shrink: 0;
margin: 10px;
border-radius: 4px;
background: #E0E4E9;
}
.fb-tweeter{
    align-items: center;
    /* margin-left: 4px; */
    margin-top: -10px;
}
.facebookk{
    width: 180px;
height: 43px;
flex-shrink: 0;
border-radius: 4px;
background: #3B5998;
border: none;
/* margin-left: 1px; */
color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.12px;
}
.forget{
    color: #F37357;
    text-align: right;
    color: #FB775A;
font-family: Poppins;
margin-top: 3%;

font-size: 15px;
font-style: normal;
font-weight: 800;
line-height: 157.5%;
letter-spacing: 0.12px;
margin-right: 30px;
}
.twitter{
    width: 180px;
    height: 43px;
    flex-shrink: 0;
    margin-left: 18px;
    border-radius: 4px;
background: #00ACEE;
border: none;
color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.12px;
}


@media (max-width: 768px) {
    .signUpContentt {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .form-Div,
    .formm {
        width: 90%; 
        height: auto; 
    }


   
    .name,
    .email,
    .addresss,
    .passwordd,
    .sign-button,
    .terms {
        width: 100%; 
    }
    .connected{
        display: flex;
        align-items: center;
        justify-content: center;
        
        color: #9AA6B4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 361.5%; 
    letter-spacing: 0.28px;
    }
    .signUpss{
       
        width: 146px;
        margin-top: -1px;
    }
    
    .SIGNUP{
        width: 5px;
        margin-left: 47%;
        margin-top: -17%;

    }
    .forget{
        margin-left: 10%;
    }
    .signInn{
        margin-left: -10%;
    }
    .signLogoo{
        margin-top: -10%;
    }
    .linee{
        width: 50px;
    height: 1px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 4px;
    background: #E0E4E9;
 

}
.P-CONECT{
    margin-top: -17px;
}
.connected{
    margin-top:20px;
    text-align:center;}
    /* line-height:normal;} */

    .facebookk,
    .twitter {
        width: 100%; 
        margin-left: 0;
        margin-bottom: 10px; 
    }
}